


.button-icon{
    

    
    &__comment {
        width: 100%;
        max-width: 450px;
      
        outline: none;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid $rgba-four-color;
        background-color: $background-color;
        color: $second-background-color;
        padding: 15px;
        margin-bottom: 20px;
    }

    &__button{

        display: center;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.06em;
        padding: 10px 52px;
        margin-right: 10px;
        font-size: 16px;
        font-weight: bold;
        line-height: calc(30 / 16);
        border-radius: 4px;
        border: 2px solid $accent-color;
        background-color: $accent-color;
        color: $second-background-color;
        
    }

    &__svg {
        margin-left: 10px;
    }
}

.button-icon__comment::placeholder {
    font-size: 16px;
    font-weight: normal;
    color: $rgba-color;
}


