.menu {
    display: flex;
    padding: 0;
   
    list-style: none;
  }
  
  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }
  
  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  menu__icon {
    margin: 21px;
  }
  .menu__icon:hover,
  .menu__icon:focus
   {
    fill: $accent-color;
  }
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  
  .menu-toggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
 margin: 21px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
        
        
 .menu-icon {
    z-index: 999;
 }
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    fill:  $accent-color;
  }
  
  .menu-container {
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px;
    background-color: $second-background-color;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
 
  .menu-container.is-open {
    transform: translateX(0);

  }

.menu-container .mobile-menu--margin {
    
    margin-bottom: auto ;
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(15, 19, 19);
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
   
  }

  .mobile-menu__link:hover,
  .mobile-menu__link:focus {
    color: $accent-color;
  }
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color: #212121;
    text-decoration: none;
  }
  .mobile-menu .link-item {
    color: $accent-color; 
  }
 
  .mobile-contact .link-item--color {
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 2%;
    color: $second-text-color;
 }

 
 .mobile-contact .link-item--size {
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 2%;

 }
  .mobile-menu__item {
 
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(46 / 40);
letter-spacing: 2%;}


.mobile-contact__item {
    margin-bottom: 32px;
}
.mobile-contact {
    margin-bottom: 64px;
}
    .mobile-social{
display: flex;
gap: 20px;
    }

    .mobile-social__item {
        position: relative;

        font-size: 18px;
        line-height: calc(22 / 18);
        letter-spacing: 2%;
    }
    .mobile-social__item::after {
        
        content:"";
        position: absolute;
        width: 1px;
        height: 22px;
        background-color: $accent-color;
        right: -10px;
        top: 0;
        
       
        background-size: contain;

    }
   