$primary-wtite-color: #f5f5f5;
$primary-text-color: #212121;
$second-text-color: #757575;
$accent-color: #2196f2;
$logo-text-color: #000000;
$background-color: #2F303A;
$second-background-color: #ffffff;
$rgba-color: rgba(255, 255, 255, 0.6);
$rgba-two-color: rgba(255,255,255, 0.1);
$rgba-four-color: rgba(255,255,255, 0.3);
$rgba-tean-color: #f5f4f4;
$rgba-hero: rgba(47, 48, 58, 0.4);
$icons-color: #AFB1B8;
$wrapper-color: rgba(33, 150, 243, 0.9);
$inline-color: #ececec;
$form-modal-color: rgba(33, 33, 33, 0.2);
$texterea-color: rgba(117, 117, 117, 0.5);
$font-main: "Roboto", sant-serif;
$font-logo: "Raleway", sant-serif;